<div class="container">
  <div class="jumbotron text-center">
    <h1 style="color:white">Stocks To Watch</h1>
  </div>

  <div ng-controller="StocksCtrl">
   <form ng-submit="createStock()">
      <select ui-select='select2Options' ng-model='newCompany', data-placeholder="Enter the name of a listed company", ng-required="true">
        <option value=""></option>
        <option ng-repeat="stock in stocklist" value=""></option>
      </select>
     <input type="submit" value="Add">
    </form>
    <ul>
      <div ng-show="error">
        Please try later, the Yahoo Finance API is experiencing difficulties
      </div>
      <li ng-repeat="stock in stocks">
        {{stock.symbol}}, {{stock.name}}, {{stock.bid}}, {{stock.ask}}, {{stock.year_low}}, {{stock.year_high}}
        <a href='' ng-click="deleteStock(stock id, $index)">Delete</a>
      </li>
    </ul>
  </div>
</div>


    
