<div class="container">
  <div class="jumbotron text-center">
    <h1 style="color:white">Stocks To Watch</h1>
  </div>

  <div ng-controller="StocksCtrl">
   <form ng-submit="createStock()">
      <select ui-select2='select2Options' ng-model='newCompany', data-placeholder="Enter the name of a listed company", ng-required="true">
        <option value=""></option>
        <option ng-repeat="stock in stocklist" value=""></option>
      </select>
     <input type="submit" value="Add">
    </form>
    <ul>
      <div ng-show="error">
        Please try later, the Yahoo Finance API is experiencing difficulties
      </div>
      <li ng-repeat="stock in stocks">
       <div id="symbol">
       </div>
       <div id="name">
       </div>
         <span>Bid:</span>,
         <span>Ask:</span>,
         <span>Year Low:</span>,
         <span>Year High:</span>,
       <div id='links'>
         Show Chart: <input type="checkbox" ng-model="showStockChart">
         <a href='' ng-click="updateStock(stock.id, $index)">Update</a>
         <a href='' ng-click="deleteStock(stock.id, $index)" id='delete'>Delete</a>
       </div>
       <div my-chart ng-show="showStockChart">
       </div>
      </li>
    </ul>
  </div>
</div>
<ul>

        
     
   
 


    
